
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    overflow-y: hidden;
}

main {
    height: 100vh;
    width: 100%;
}

.fundo {
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #161616 20%, #fff 200%);
}

.abrirLogin {
    position: absolute;
    top: 2rem;
    left: 75rem;
}

.login {
    position: absolute;
    left: 50%;
    top: 900px;
    transform: translate(-50%, -50%);
    height: 30rem;
    width: 30rem;
    background-color: #161616;
    border-radius: 5%;
    display: flex-box;
    text-align: center;
    box-shadow: 0 5px 25px 10px #000000;
    transition: all 0.5s;
    overflow: hidden;
}

.login.ativo {
    top: 50%;
    overflow: visible;
    transition: 0.5s;
}

.abrirCadastro {
    position: absolute;
    top: 2rem;
    left: 63rem;
}

.cadastro {
    position: absolute;
    left: 50%;
    top: 900px;
    transform: translate(-50%, -50%);
    height: 30rem;
    width: 30rem;
    background-color: #161616;
    border-radius: 5%;
    display: flex-box;
    text-align: center;
    box-shadow: 0 5px 25px 10px #000000;
    transition: all 0.5s;
    overflow-y: scroll;
    overflow-x: hidden;
    visibility: hidden;
}

.cadastro.ativo {
    visibility: visible;
    top: 50%;
    transition: all 0.5s;
}

.cadastro::-webkit-scrollbar {
    width: 14px;
}

.cadastro::-webkit-scrollbar-thumb {
    background: #772491;
    border-width: 50px 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 12px;
    background-clip: padding-box;
}

.minha-caixa::-webkit-scrollbar-track {
  background: transparent; 
}

h1 {
    color: #fff;
    text-shadow: 0 0 10px #772491, 0 0 20px #772491;
    transition: all 1s;
    padding-top: 1rem;
    width: 100%;
}

h1:hover {
    transition: all 1s;
    transform: scale(1.01);
}

.caixas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 20rem;
    width: 20rem;
}

.questao {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 3rem;
    height: 5rem;
}

.questao.b {
    position: absolute;
    top: 10rem;
}

.questao.bC {
    position: absolute;
    top: 10rem;
}

.questao.cC {
    position: absolute;
    top: 17rem;
}

.questao.dC {
    position: absolute;
    top: 24rem;
}

input {
    border-radius: 5px;
    height: 1.5rem;
    width: 15rem;
    border: none;
    box-shadow: 1px 1px 20px 1px #772491;
    transition: all 1s;
}

input:hover {
    transition: all 1s;
    transform: scale(1.01);
}

::placeholder {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: x-large;
    color: #fff;
}

a {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 13.5rem;
    text-decoration: none;
}

.semSenha {
    top: 16.5rem;
}

button {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20rem;
    width: 11rem;
    height: 2rem;
    background-color: #772491;
    color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 1px #772491;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(233, 0, 0);
    transition: all 1s;
}

.criarConta {
    position: absolute;
    top: 31rem;
}

.comConta {
    position: absolute;
    top: 27.5rem;
}

a {
    color: #772491;
    cursor: pointer;
}